
.mini-cart{
    background-color: white;
    border: none;
    width: fit-content;
    display: none;
}
.mini-cart-pro{
    display: flex;
    margin-top: 25px;
    direction: rtl;
    margin-bottom: 20px;
}

.mini-cart-pro img{
    width: 121px;
    height: 120px;   

}

.mini-cart-pro form{
    display: inline-grid;
    height: 145px;
    transform: translate(4px, 0px);
}

.mini-cart-pro button{
    margin-right: 10px;
    background-color: white;
    width: 26px;
    height: 28px;
    cursor: pointer;
    border: 1px solid grey;
}
form  span{
 text-align: center;
}
.mini-cart-pro .flex-box{
    display: flex;
}
.mini-cart-pro h3{
    padding: 0;
    font-size: 13px;
    font-weight: unset;
    margin-right: 23px;
}
.mini-cart-pro .brand-name{
    font-size: 20px;
    width: fit-content;
    margin-right: 38px;
}
.mini-cart-pro .product-description{
    width: 155px;
    display: grid;
    justify-content: flex-end;
}
.mini-cart-pro .cart-price{
    margin-right: 130px;
    font-weight: 600;

}
.mini-cart-pro .size{
    direction: ltr;
    margin-top: 10px;
}

.mini-cart-pro .size ul{
    margin-top: 6px;
    padding: 0;
   
}

.mini-cart-pro .size ul li{
    border: 1px solid black;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: -78px;
}
.mini-cart-pro .price{
    display: none;
}
.mini-cart-pro .color-span{
    direction: ltr;
    width: fit-content;
    margin-right: 107px;
}
.mini-cart-pro .product-description .color div{
    display: inline;
    margin: 5px;
    padding-top: 9px;
    padding-right: 27px;
    cursor: pointer;
    margin-left: 0;

}
.mini-cart-pro .color{
    margin-top: 15px;
    direction: ltr;
}

.mini-cart .products{
    margin-bottom: 25px
}
.total{
    display: flex;
    justify-content: space-between;
    font-weight: 700 ;
}
.buttons{
    margin-top: 30px;
}
.buttons button{
    width: 48%;
    padding: 10px;
    cursor: pointer;
}
.buttons a button{
    margin-right: 4px;
    background-color: white;
    border: 1px solid black;

}
.buttons :nth-child(2){
    background-color: rgba(94, 206, 123, 1);
    color: white;
    border: 1px solid rgba(94, 206, 123, 1);
}
.heading{
    margin-bottom: 40px;
}
.mini-cart-pro .info{
    display: none;
}
.mini-cart form:nth-child(3){
padding:0;
}
.total{
    font-weight: bolder;
}
.empty_cart{
    color: rgba(94, 206, 123, 1);
    position: relative;
    right: -10px;
}
