.nav{
display: flex;
justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding-left: 0;
}
.nav-list li{
 margin-right: 30px;
 font-weight: 600;
}
.nav-list a{
color: black;
text-decoration: none;
width: fit-content;
height: fit-content;
}
.logo{
    height: 30px;
    width: 31px;
}
.icons img{
    margin-right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.icons .currency{
    width:38px ;
    height: 29px;
    transform: translate(4px, 4px);
}
.nav .activ {
    color: rgba(94, 206, 123, 1);    
    border-bottom: 1px solid rgba(94, 206, 123, 1) ;
    padding-bottom: 30px;    
}
.nav .activ a{
    color: rgba(94, 206, 123, 1);
}
.nav .bag{
    position: relative;
    cursor: pointer;
}
.mini-cart{
    
    position: absolute;
    padding: 15px;
    width: 300px;
    top: 78px;
    right: 89px;
    border: 1px solid black;
}
.mini-cart h3{
    display: inline;
    padding: 10px;
}
.mini-cart .products{
width: fit-content;
background-color: white;
z-index: 1;
}
.empty{
    text-align: center;
    font-weight: 600;
    color: rgba(94, 206, 123, 1);
}
.select{
 box-shadow: -7px 10px 18px #c2c6cead;
 position: absolute;
 display:none ;
}
.select option{
    padding: 10px;
    font-weight: 900;
    cursor: pointer;

}
.select option:hover{
    background: rgba(238, 238, 238, 1);
}
.countpro{
         position: absolute;
          width: 15px;
          height: 15px;
          background-color: black;
          color: white;
          border-radius: 12px;
          text-align: center;
          padding: 1px;
          padding-bottom: 3px;
          font-size: small;
          right: 95px;
          top: 30px;
}